<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lit + Parcel App</title>
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/uno.css">
</head>

<body class="m-0">
  <toast-container></toast-container>
  <music-player></music-player>
  <script type="module" src="../components/toast.ts"></script>
  <script type="module" src="../components/music-player.ts"></script>
</body>

</html>